In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jyoti\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jyoti\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jyoti\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jyoti\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jyoti\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jyoti\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
#import the dataset

import pandas as pd

In [4]:
df= pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.shape

(57650, 4)

In [7]:
# Check the null values

In [8]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [9]:
# Drop the  column

In [10]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [11]:
df.head(10)

,artist,song,text
0,Natalie Cole,I Wanna Love Again,"Ah, baby \r\nHow do I start? Where do I begin..."
1,Les Miserables,Fantine's Death (Come To Me),"Fantine: \r\nCosette, it's turned so cold \r..."
2,Creedence Clearwater Revival,Born On The Bayou,Now when I was just a little boy standin' to m...
3,Kate Bush,Dali,"High, in Castille, \r\nLives senora Dali alon..."
4,Ramones,Too Tough To Die,I am a tu tu tu tu tu tu tu tu tough tough guy...
5,Jackson Browne,YOUR BRIGHT BABY BLUES,I'm sitting down by the highway \r\nDown by t...
6,Chris Rea,I Can Hear Your Heartbeat,In the silence of the side street \r\nIn the ...
7,Planetshakers,Sing Of Your Love,I love who I've become in You \r\nYou've chan...
8,David Guetta,Sound Of Letting Go,This is the point of no return \r\n'Cause thi...
9,Neil Young,Everybody's Alone,If you're looking for me \r\nYou'll find me r...

In [12]:
df['text'][0]

"Ah, baby  \r\nHow do I start? Where do I begin?  \r\nI've been hurt so much, I just need a friend  \r\nCould it be you? Will you break through these walls?  \r\nAre you willing to help them fall?  \r\n  \r\nI want to love again, but I'm afraid to  \r\nI want to trust again, but my heart says not to  \r\nYour every smile, your gentle touch makes me weak  \r\nI want you so much  \r\nI want love again and this time with you  \r\n  \r\nI didn't know that this would be so hard for me  \r\nBeing this close to you is driving me crazy  \r\nMy mind says no, oh, but my body says yes  \r\nYou make one move and I'll do the rest  \r\n  \r\nI want to love again, but I'm afraid to  \r\nI want to trust again, but my heart says not to  \r\nYour every smile, your gentle touch makes me weak  \r\nI want you so much  \r\nI want to love again and this time with you  \r\n  \r\nOh, it's been so long, since I've seen your face  \r\nAnd I'm just trying to be strong  \r\nOh, but I think about you everyday  \r\nAnd it makes me weak when I see your face  \r\nI guess it means, I'm in a different space  \r\nCause I wanna love again and this time with you  \r\n  \r\nI want to love again but I'm afraid to  \r\nI want to trust again, but my heart says not to  \r\nYour every smile, your gentle, gentle touch makes me weak  \r\nI want you so much  \r\nI want to love again  \r\n  \r\nPlease let me love again  \r\nI want to love again  \r\nAnd this time with you  \r\nI just wanna love again with you\r\n\r\n"

In [13]:
df.shape

(5000, 3)

In [14]:
#Text cleaning

In [15]:
df['text']=df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True)

In [16]:
df.tail(5)

,artist,song,text
4995,Primus,Mr. Knowitall,they call me mr. knowitall \r i will not comp...
4996,Nazareth,Red Light Lady,down at the house with the red light \r she w...
4997,Mazzy Star,Mary Of Silence,"oh mary of silence, \r you pick my heart with..."
4998,Howard Jones,"Good Luck, Bad Luck",the film script lies ahead \r change the futu...
4999,Katy Perry,Ur So Stupid,i hope you hang yourself with your stupid scar...

In [17]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\jyoti\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\jyoti\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\jyoti\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\jyoti\anaconda3\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\jyoti\anaconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\jyoti\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [18]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\jyoti\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [19]:
#stemmer

In [20]:
from nltk.stem.porter import PorterStemmer

In [21]:
stemmer = PorterStemmer()

In [22]:
#Tokenization

In [39]:
def tokenization(txt):
    tokens=nltk.word_tokenize(txt)
    stemming=[stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [40]:
tokenization(" Good Luck, Bad Luck ")

'good luck , bad luck'

In [45]:
df['text'].apply(lambda x: tokenization(x))

0       ah , babi how do i start ? where do i begin ? ...
1       fantin : cosett , it 's turn so cold cosett , ...
2       now when i wa just a littl boy standin ' to my...
3       high , in castil , live senora dali alon . and...
4       i am a tu tu tu tu tu tu tu tu tough tough guy...
                              ...
4995    they call me mr. knowit i will not compromi . ...
4996    down at the hou with the red light she work fr...
4997    oh mari of silenc , you pick my heart with a s...
4998    the film script lie ahead chang the futur , ch...
4999    i hope you hang yourself with your stupid scar...
Name: text, Length: 5000, dtype: object

In [42]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\jyoti\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\jyoti\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jyoti\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\jyoti\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\jyoti\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [43]:
import sklearn
print(sklearn.__version__)

1.5.1

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
#Feed Transformation

In [28]:
tfidvector=TfidfVectorizer(analyzer='word',stop_words='english')

In [29]:
matrix=tfidvector.fit_transform(df['text'])

In [30]:
matrix

<5000x17872 sparse matrix of type '<class 'numpy.float64'>'
	with 274778 stored elements in Compressed Sparse Row format>

In [46]:
cosine_similarity(matrix)

array([[1.        , 0.02862835, 0.01280767, ..., 0.04138466, 0.02852452,
        0.04268394],
       [0.02862835, 1.        , 0.00334503, ..., 0.01538779, 0.01678708,
        0.00595969],
       [0.01280767, 0.00334503, 1.        , ..., 0.00746382, 0.        ,
        0.02780354],
       ...,
       [0.04138466, 0.01538779, 0.00746382, ..., 1.        , 0.00157869,
        0.06238593],
       [0.02852452, 0.01678708, 0.        , ..., 0.00157869, 1.        ,
        0.00912375],
       [0.04268394, 0.00595969, 0.02780354, ..., 0.06238593, 0.00912375,
        1.        ]])

In [47]:
similarity=cosine_similarity(matrix)

In [48]:
similarity[0]

array([1.        , 0.02862835, 0.01280767, ..., 0.04138466, 0.02852452,
       0.04268394])

In [31]:
df[df['song']=='Our Mommas !'].index[0]

4999

In [32]:
def recommendation(song_df):
    idx=df[df['song']==song_df].index[0]
    distances=sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    songs=[]
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
    return songs

In [33]:
recommendation('Our Mommas !')

['I Love My Momma',
 'Fat',
 'Sorry Momma',
 'Fat Lenny',
 'LL Cool J Skit',
 'Take You Home',
 'America Is Not The World',
 'Sumthin Wicked This Way Comes',
 "I've Got The World On A String",
 "I Don't Want To Be A Star",
 'Cousins',
 'You Gotta Lotta That',
 'Peaches',
 'Waiting For The Man',
 'Heartless',
 "Cowgirl's Dream",
 "I've Changed",
 'Hoes',
 'Drink It Up',
 'Shaolin Worldwide']

In [34]:
import pickle

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))